---
title: Home
---

<h2>Welcome</h2>

<p>Welcome to my offline storage where I reflect on things in the hope of learning something.</p>

<h2>Recent Reflections</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
